.ce_rsce_block-img-icon{
  .block-card__wrapper{ background: none; box-shadow: none; display: block; position: relative; margin-top: $spacing*2;
  	&:after{z-index: 0 !important;}
  }
  .block-card__wrapper.hasIcon{overflow: visible;}
  .block-card__figure{position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
  .block-card__content{position: relative; padding: $spacing; z-index: 1; text-align: center;}
}
.block-card__icon{
  position: absolute; 
  z-index: 3; 
  top: 0; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background: body(background); 
  padding: 0.75rem 0.5rem .5rem; 
  border-radius: 100%; 
  max-width: 10em;
  min-width: 100px; 
  aspect-ratio: 1;
	img{object-fit: contain; height: 100%; width: 100%;}
  // @include media-max(xs){transform: translate(-50%, -$spacing); }
  .zoomin:hover & img{transform: scaleX(1);}
}

.mod_article:has(.mod_article):not([class*=p-top]):not([class*=p-y]){padding-block: 0;}
